* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}
.reviews-main {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.review-img {
  background: url('./img/img-2.jpeg');
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
#review-text {
  width: 70%;
  text-align: justify;
}
.btn {
  border: 2px solid #333;
  padding: 1em;
  border-radius: 15%;
  cursor: pointer;
  color: #333;
  transition: border 0.1s ease-in-out, color 0.1s ease-in-out;
}
#next {
  position: absolute;
  right: 10%;
  top: 50%;
}
#prev {
  position: absolute;
  left: 10%;
  top: 50%;
}
.btn:hover {
  border: 2px solid rgb(160, 70, 70);
  color: rgb(160, 70, 70);
}
.btn:active {
  background-color: rgb(160, 70, 70);
  color: #fff;
}
#name {
  font-size: 3rem;
  text-transform: uppercase;
  color: rgba(160, 70, 70, 0.719);
}
#position {
  text-transform: lowercase;
  font-size: 1.3rem;
  color: rgb(74, 74, 114);
}
.quotes {
  position: absolute;
  left: 10%;
  top: 65%;
  font-size: 5rem;
  /* opacity: 0.5; */
  color: rgba(160, 70, 70, 0.445);
}

/* navbar */
#menu-icon {
  display: none;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
}
.website-links {
  gap: 1.3em;
}
a {
  text-decoration: none;
  color: rgb(74, 74, 114);
}
nav {
  background-color: rgba(160, 70, 70, 0.445);
  color: rgb(74, 74, 114);
  padding: 1.3em 0;
}
.header {
  flex: 1;
}
#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#links {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

/* media query */
@media screen and (max-width: 600px) {
  #menu-icon {
    display: block;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #navigation {
    display: block;
  }
  .website-links {
    display: block;
  }
  #links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .social {
    padding-top: 0.5em;
  }
  #name {
    font-size: 1em;
  }
  #position {
    font-size: 0.8em;
  }
  .review-img {
    height: 100px;
    width: 100px;
  }
  .quotes {
    font-size: 2rem;
    left: 8%;
    top: 57%;
  }
  #next {
    position: absolute;
    right: 1%;
    top: 30%;
  }
  #prev {
    position: absolute;
    left: 1%;
    top: 30%;
  }
  .btn {
    border: 1px solid #333;
    padding: 0.2em 0.5em;
  }
  #review-text {
    font-size: 0.7rem;
    padding-top: 0.5em;
  }
  .show-links {
    height: 0;
    overflow: hidden;
  }
}
